In [5]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 120)
#imports e configurações

In [6]:
#Carregar dataset
CSV_PATH = "dados_brutos.csv"  
df = pd.read_csv(CSV_PATH)
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [7]:
#Visão Geral
print("Linhas, Colunas:", df.shape)
print("\nColunas:")
display(df.columns.to_frame(name="column_name"))

Linhas, Colunas: (70692, 22)

Colunas:

                               column_name
Diabetes_binary            Diabetes_binary
HighBP                              HighBP
HighChol                          HighChol
CholCheck                        CholCheck
BMI                                    BMI
Smoker                              Smoker
Stroke                              Stroke
HeartDiseaseorAttack  HeartDiseaseorAttack
PhysActivity                  PhysActivity
Fruits                              Fruits
Veggies                            Veggies
HvyAlcoholConsump        HvyAlcoholConsump
AnyHealthcare                AnyHealthcare
NoDocbcCost                    NoDocbcCost
GenHlth                            GenHlth
MentHlth                          MentHlth
PhysHlth                          PhysHlth
DiffWalk                          DiffWalk
Sex                                    Sex
Age                                    Age
Education                        Education
Income                              Income

In [8]:
#Tipos e memória
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  float64
 1   HighBP                70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   Stroke                70692 non-null  float64
 7   HeartDiseaseorAttack  70692 non-null  float64
 8   PhysActivity          70692 non-null  float64
 9   Fruits                70692 non-null  float64
 10  Veggies               70692 non-null  float64
 11  HvyAlcoholConsump     70692 non-null  float64
 12  AnyHealthcare         70692 non-null  float64
 13  NoDocbcCost           70692 non-null  float64
 14  GenHlth               70692 non-null  float64
 15  MentHlth              70692 non-null  float64
 16  PhysHlth              70692 non-null  float64
 17  DiffWalk              70692 non-null  float64
 18  Sex                   70692 non-null  float64
 19  Age                   70692 non-null  float64
 20  Education             70692 non-null  float64
 21  Income                70692 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

In [9]:
#Nulos e duplicados 
nulls = df.isna().sum().sort_values(ascending=False)
print("Top colunas com mais nulos:")
display(nulls[nulls > 0].head(20))

print("\nTotal de linhas duplicadas:", df.duplicated().sum())

Top colunas com mais nulos:

Series([], dtype: int64)

Total de linhas duplicadas: 1635

In [10]:
#Estatística descritiva(númericos)
display(df.describe().T)

                        count       mean        std   min   25%   50%   75%   max
Diabetes_binary       70692.0   0.500000   0.500004   0.0   0.0   0.5   1.0   1.0
HighBP                70692.0   0.563458   0.495960   0.0   0.0   1.0   1.0   1.0
HighChol              70692.0   0.525703   0.499342   0.0   0.0   1.0   1.0   1.0
CholCheck             70692.0   0.975259   0.155336   0.0   1.0   1.0   1.0   1.0
BMI                   70692.0  29.856985   7.113954  12.0  25.0  29.0  33.0  98.0
Smoker                70692.0   0.475273   0.499392   0.0   0.0   0.0   1.0   1.0
Stroke                70692.0   0.062171   0.241468   0.0   0.0   0.0   0.0   1.0
HeartDiseaseorAttack  70692.0   0.147810   0.354914   0.0   0.0   0.0   0.0   1.0
PhysActivity          70692.0   0.703036   0.456924   0.0   0.0   1.0   1.0   1.0
Fruits                70692.0   0.611795   0.487345   0.0   0.0   1.0   1.0   1.0
Veggies               70692.0   0.788774   0.408181   0.0   1.0   1.0   1.0   1.0
HvyAlcoholConsump     70692.0   0.042721   0.202228   0.0   0.0   0.0   0.0   1.0
AnyHealthcare         70692.0   0.954960   0.207394   0.0   1.0   1.0   1.0   1.0
NoDocbcCost           70692.0   0.093914   0.291712   0.0   0.0   0.0   0.0   1.0
GenHlth               70692.0   2.837082   1.113565   1.0   2.0   3.0   4.0   5.0
MentHlth              70692.0   3.752037   8.155627   0.0   0.0   0.0   2.0  30.0
PhysHlth              70692.0   5.810417  10.062261   0.0   0.0   0.0   6.0  30.0
DiffWalk              70692.0   0.252730   0.434581   0.0   0.0   0.0   1.0   1.0
Sex                   70692.0   0.456997   0.498151   0.0   0.0   0.0   1.0   1.0
Age                   70692.0   8.584055   2.852153   1.0   7.0   9.0  11.0  13.0
Education             70692.0   4.920953   1.029081   1.0   4.0   5.0   6.0   6.0
Income                70692.0   5.698311   2.175196   1.0   4.0   6.0   8.0   8.0

In [11]:
#Cardinalidade
uniq = df.nunique(dropna=False).sort_values(ascending=False)
display(uniq.to_frame(name="unique_values"))

                      unique_values
BMI                              80
PhysHlth                         31
MentHlth                         31
Age                              13
Income                            8
Education                         6
GenHlth                           5
Smoker                            2
HighChol                          2
HighBP                            2
Diabetes_binary                   2
CholCheck                         2
Stroke                            2
HeartDiseaseorAttack              2
NoDocbcCost                       2
AnyHealthcare                     2
HvyAlcoholConsump                 2
Veggies                           2
Fruits                            2
PhysActivity                      2
DiffWalk                          2
Sex                               2

In [12]:
#detectar possíveis colunas alvos
# Heurística simples: colunas que contém "diabetes" no nome
possible_targets = [c for c in df.columns if "diabetes" in c.lower()]
possible_targets

['Diabetes_binary']

In [13]:
#distribuição alvo vou mudar o nome
TARGET_COL = "Diabetes_binary"  # <-- ajuste para o nome real no seu arquivo

if TARGET_COL in df.columns:
    vc = df[TARGET_COL].value_counts(dropna=False)
    vcn = df[TARGET_COL].value_counts(normalize=True, dropna=False)

    print("Contagem do alvo:")
    display(vc.to_frame(name="count"))

    print("\nProporção do alvo:")
    display((vcn * 100).round(2).to_frame(name="percent"))
else:
    print(f"Coluna alvo '{TARGET_COL}' não encontrada. Verifique o nome correto.")

Contagem do alvo:

                 count
Diabetes_binary
0.0              35346
1.0              35346

Proporção do alvo:

                 percent
Diabetes_binary
0.0                 50.0
1.0                 50.0

In [14]:
#Checagem rápida de faixas (colunas binárias 0/1 e categorias)
binary_like = []
small_cat = []

for c in df.columns:
    u = df[c].dropna().unique()
    if len(u) <= 2:
        binary_like.append(c)
    elif len(u) <= 10:
        small_cat.append(c)

print("Possíveis binárias (<=2 valores únicos):")
print(binary_like)

print("\nPossíveis categóricas pequenas (<=10 valores únicos):")
print(small_cat)

Possíveis binárias (<=2 valores únicos):
['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'Smoker', 'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'DiffWalk', 'Sex']

Possíveis categóricas pequenas (<=10 valores únicos):
['GenHlth', 'Education', 'Income']

In [15]:
# amostra de valores por coluna
sample_values = {}
for c in df.columns:
    sample_values[c] = df[c].dropna().unique()[:10]

sample_df = pd.DataFrame({
    "column": list(sample_values.keys()),
    "sample_values_first_10": [list(v) for v in sample_values.values()]
})

display(sample_df)

                  column                             sample_values_first_10
0        Diabetes_binary                                         [0.0, 1.0]
1                 HighBP                                         [1.0, 0.0]
2               HighChol                                         [0.0, 1.0]
3              CholCheck                                         [1.0, 0.0]
4                    BMI  [26.0, 28.0, 29.0, 18.0, 31.0, 32.0, 27.0, 24....
5                 Smoker                                         [0.0, 1.0]
6                 Stroke                                         [0.0, 1.0]
7   HeartDiseaseorAttack                                         [0.0, 1.0]
8           PhysActivity                                         [1.0, 0.0]
9                 Fruits                                         [0.0, 1.0]
10               Veggies                                         [1.0, 0.0]
11     HvyAlcoholConsump                                         [0.0, 1.0]
12         AnyHealthcare                                         [1.0, 0.0]
13           NoDocbcCost                                         [0.0, 1.0]
14               GenHlth                          [3.0, 1.0, 2.0, 4.0, 5.0]
15              MentHlth  [5.0, 0.0, 7.0, 3.0, 4.0, 2.0, 30.0, 20.0, 1.0...
16              PhysHlth  [30.0, 0.0, 10.0, 3.0, 6.0, 4.0, 15.0, 1.0, 2....
17              DiffWalk                                         [0.0, 1.0]
18                   Sex                                         [1.0, 0.0]
19                   Age  [4.0, 12.0, 13.0, 11.0, 8.0, 1.0, 6.0, 3.0, 7....
20             Education                     [6.0, 5.0, 4.0, 3.0, 2.0, 1.0]
21                Income           [8.0, 7.0, 6.0, 3.0, 4.0, 1.0, 5.0, 2.0]